@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500;800&family=Luckiest+Guy&display=swap");
body {
  background-color: #ccc;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: .3rem;
  font-size: 3rem;
  margin-top: 3rem;
  text-align: center;
}

.row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  position: absolute;
  top: 25%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 4.6rem;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
}

.row .colomn {
  margin: auto;
  width: auto;
  height: auto;
  text-align: center;
}

.row .colomn img {
  width: 17rem;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  -webkit-transition: .5s;
  transition: .5s;
}

.row .colomn img:hover {
  opacity: .7;
}

.row .modal {
  display: none;
}

.overlay {
  opacity: 0;
  -webkit-animation: fade .3s forwards;
          animation: fade .3s forwards;
  overflow: auto;
  display: none;
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
}

.overlay .close {
  z-index: 1001;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -50px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  -webkit-animation: fade .5s .7s forwards;
          animation: fade .5s .7s forwards;
  -webkit-transition: .7s;
  transition: .7s;
}

.overlay .close:hover {
  color: #a5a5a5;
  cursor: pointer;
}

.overlay .slideImg {
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  height: 90%;
}

.overlay .slideImg .fullImg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 70%;
  z-index: 100;
  -webkit-animation: fade .5s .1s forwards;
          animation: fade .5s .1s forwards;
  opacity: 0;
}

.overlay .slideImg .fullImg img {
  display: block;
  margin: 0 auto;
  height: 414px;
  border-radius: 1%;
}

.overlay .slideImg .thumbnail {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 25%;
  opacity: 0;
  -webkit-animation: fade .3s .4s forwards;
          animation: fade .3s .4s forwards;
}

.overlay .slideImg .thumbnail .coral,
.overlay .slideImg .thumbnail .ocean,
.overlay .slideImg .thumbnail .island,
.overlay .slideImg .thumbnail .fish {
  display: none;
  margin: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.overlay .slideImg .thumbnail img {
  height: 147.81px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.overlay .slideImg .thumbnail img:hover {
  cursor: pointer;
}

@-webkit-keyframes zoomCool {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomCool {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=wTCmain.css.map */